<div class="container">
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Arkalos</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-class="{active: tools_show}"><a ng-click="nav_bar_tools_clicked()">Tools/Data</a></li>
        <li ng-class="{active: wf_show}"><a ng-click="nav_bar_wf_clicked()">Workflows</a></li>
        <li ng-class="{active: reports_show}"><a ng-click="nav_bar_reports_clicked()">Reports</a></li>
        <li ng-class="{active: references_show}"><a ng-click="nav_bar_references_clicked()">References</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-click="nav_bar_signup_clicked()" ng-show="username == ''">Sign Up</a></li>
        <li class="dropdown">
          <a href="#" id="sign_in_dropdown" class="dropdown-toggle" data-toggle="dropdown"><span ng-bind="username ? username : 'Sign In ' "></span><b class="caret"></b></a>


          <ul ng-show="username != ''" id="sign_in_dropdown_logged" class="dropdown-menu"> <!-- style="padding: 15px;min-width: 250px;" -->
            <li>
              <a href="logout/">Sign Out</a>
            </li>
          </ul>


          <ul class="dropdown-menu" ng-show="username == ''" style="padding: 15px;min-width: 250px;">
            <li>


                          <div class="row" ng-show="login_error_msg != ''">
                            <div class="col-md-12">
                              <div id="nav_bar_error_div" class="alert alert-danger">
                                <span ng-bind="login_error_msg"></span>
                              </div>
                            </div>
                          </div>            

                          <div class="row">
                              <div class="col-md-12">
                                 <form id="nav_bar_form" class="form" role="form" accept-charset="UTF-8">
                                    <div class="form-group">
                                       <label class="sr-only" for="username">Username</label>
                                       <input type="text" class="form-control" id="username" placeholder="Username" name="username" ng-model="nav_bar_username" required>
                                    </div>
                                    <div class="form-group">
                                       <label class="sr-only" for="exampleInputPassword2">Password</label>
                                       <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" name="password" ng-model="nav_bar_password" required>
                                    </div>
                                    <div class="checkbox">
                                       <label>
                                       <input type="checkbox"> Remember me
                                       </label>
                                    </div>
                                    <div class="form-group">
                                       <!-- <button type="submit" class="btn btn-success btn-block" onclick="$('#sign_in_dropdown').dropdown('toggle'); return true;">Sign in</button> -->
                                       <button type="submit" class="btn btn-success btn-block" ng-click="login()">Sign in</button>
                                    </div>
                                 </form>
                              </div>
                           </div>

            </li>


          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
