					<div class="form-group">
						<label class="col-sm-2 control-label" for="textinput">Markdown</label>
						<div class="col-sm-10">
							<div id="{{this_id}}_doc_ace"></div>
						</div>
          			</div> 

					<div class="form-group">
						<label class="col-sm-2 control-label" for="textinput">Document</label>
						<div class="col-sm-10">
							<div class="row">
								<div class="col-sm-12">
									<button class="btn btn-default" ng-click="doc_render('{{this_id}}')">Update</button>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div id="{{this_id}}_doc_rendered" class="well"></div>
								</div>
							</div>
						</div>
          			</div>

