<div  id="tools" ng-show="tools_show" class="container">

  <div class="row" ng-show="tools_error_msg != ''">
    <div class="col-md-12"  >
	  <div class="alert alert-danger"><span ng-bind="tools_error_msg"></span></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <form id="add_tool_form" class="form-horizontal" role="form" ng-show="add_tool_show">
        <fieldset>
          <legend>Tools/Data</legend>

          <div class="form-group">
            <label class="col-sm-2 control-label">Edits</label>
            <div class="col-sm-10">
              <a href ng-click="toggle_show_jstree_tools()"><span ng-bind="show_jstree_tools ? 'Hide' : 'Show'"></span> Edit Tree</a>
              <div id="jstree_tools" ng-show="show_jstree_tools"></div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Name</label>
            <div class="col-sm-2">
              <input id="tool_name" type="text" placeholder="" class="form-control" name="tool_name" ng-model="tool_name_model" ng-disabled=" add_tool_dis_table_clicked || add_tool_dis_new_version ">
            </div>
            <div class="col-sm-2"><h5>Edit: <span ng-bind="tool_current_version"></span></h5></div>

            <label class="col-sm-1 control-label" for="textinput">Version</label>
            <div class="col-sm-2">
              <input id="tool_version" type="text" placeholder="" class="form-control" name="tool_version" ng-model="tool_version_model" ng-disabled="add_tool_dis_table_clicked">
            </div>  

            <label class="col-sm-1 control-label">System</label>

            <div class="col-sm-2">

				    <select id="system-select" multiple="multiple" ng-model="tool_system_model" ng-disabled="add_tool_dis_table_clicked">
				      <optgroup label="Ubuntu" >
				        <option value="Ubuntu_14_04">14.04</option>
				        <option value="Ubuntu_16_04">16.04</option>
				    </optgroup>
				    <optgroup label="Debian">
				        <option value="Debian_7">7 (Wheezy)</option>
				        <option value="Debian_8">8 (Jessie)</option>
				        <option value="Debian_9">9 (Stretch)</option>
				    </optgroup>
				  </select>

			    </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">User</label>
          <div class="col-sm-2"><h5><span ng-bind="tools_username"></span></h5></div>
          <label class="col-sm-2 col-sm-offset-1 control-label" for="textinput">Created At</label>
          <div class="col-sm-3"><h5><span ng-bind="tools_created_at"></span></h5></div>
        </div>

          <div class="form-group">
          	<label class="col-sm-2 control-label" for="textinput">Link</label>
          	<div class="col-sm-10">
              <input id="tool_url" type="text" placeholder="" class="form-control" name="tool_url" ng-model="tool_url_model" ng-disabled="add_tool_dis_table_clicked || add_tool_dis_new_version">
            </div> 
          </div>

          <div class="form-group">
          	<label class="col-sm-2 control-label" for="textinput">Description</label>
          	<div class="col-sm-10">
          		<textarea id="tool_description" class="form-control" name="tool_description" placeholder="Insert a description for this tool" rows="5" ng-model="tool_description_model" ng-disabled="add_tool_dis_table_clicked"></textarea>
          	</div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Dependencies</label>
            <div class="col-sm-8">
              <div class="row">
                <div class="col-sm-12" ng-show="add_tool_dis_new_version || add_tool_dis_new_tool">
                  Drug Tools/Data to Dependency Tree
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12" ng-show="add_tool_dis_new_version || add_tool_dis_new_tool">

                  <table id="tools_dependencies_table" data-toggle="table" data-url="/get_tools/" data-detail-view="true" data-filter-control="true" data-pagination="true" data-side-pagination="server">
                    <thead>
                      <tr>
                        <th data-field="name" data-filter-control="input" data-width="10%">Name</th>
                        <th data-field="url" data-filter-control="input" data-width="10%">Link</th>
                        <!-- <th data-field="total_edits" data-filter-control="input" data-width="5%">Total Edits</th> -->
                        <th data-field="description" data-filter-control="input" data-width="70%">Description</th>
                      </tr>
                    </thead>
                  </table>



                </div>
              </div>
            </div>
            <div ng-class="add_tool_dis_new_version || add_tool_dis_new_tool ?  'col-sm-2': 'col-sm-10'">
              <div class="row">
                <div class="col-sm-12">
                  <strong>Dependency Tree</strong>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <span class="glyphicon glyphicon-flash"></span>: Dependency <span class="glyphicon glyphicon-asterisk"></span>: Exposed variable
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div id="drophere" style="min-height: 100px;  border-style: solid; border-color: black;  border-width: 1px;">
                    <div ng-show="add_tool_dis_new_version || add_tool_dis_new_tool">Drop Tools/Data here..<br></div>
                    <div id="jstree_drophere"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div id="dropheredelete" class="col-sm-12" ng-show="add_tool_dis_new_version || add_tool_dis_new_tool">
                  <span class="glyphicon glyphicon-trash"></span> Drop here to delete
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
          	<label class="col-sm-2 control-label" for="textinput">Installation</label>
          	<div class="col-sm-10">
              <div id="installation_ace"></div>
            </div>
          </div> 


          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Validate Installation</label>
            <div class="col-sm-10">
              <div id="validate_installation_ace"></div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-2 col-sm-offset-2">
              <div class="alert" ng-class="{'alert-danger': !add_tools_is_validated , 'alert-success': add_tools_is_validated}">
                <strong><span ng-bind="add_tools_is_validated ? 'VALIDATED' : 'NOT VALIDATED'"></span></strong> 
              </div>
            </div>
            <div class="col-sm-2">
              <button class="btn btn-default" ng-click="add_tools_validate()" ng-class="{disabled : validate_button_disabled || add_tool_dis_table_clicked}">Validate</button>
              <button class="btn btn-default" ng-click="add_tools_log_clear()" ng-disabled="add_tool_dis_table_clicked">Clear</button>
            </div>
            <div class="col-sm-6">
              <div id="log_ace"></div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Exposed Variables</label>
            <div class="col-sm-2"><h5>Name</h5></div>
            <div class="col-sm-2"><h5>Value</h5></div>
            <div class="col-sm-6"><h5>Description</h5></div>
          </div>

          <div ng-repeat="i in add_tools_exposed_vars">
            <div class="form-group">
              <div class="col-sm-2 col-sm-offset-2">
                <input type="text" placeholder="example: executable" class="form-control" ng-model="i[0]" ng-disabled="add_tool_dis_table_clicked">
              </div>
              <div class="col-sm-2">
                <input type="text" placeholder="example: /root/mytool" class="form-control" ng-model="i[1]" ng-disabled="add_tool_dis_table_clicked">
              </div>
              <div class="col-sm-4">
                <input type="text" placeholder="example: path of executable" class="form-control" ng-model="i[2]" ng-disabled="add_tool_dis_table_clicked">
              </div>
              <div class="col-sm-2">
                <button class="btn btn-default" ng-click="add_tools_add_exposed_var()" ng-disabled="add_tool_dis_table_clicked">+</button>
                <button class="btn btn-default" ng-class="{'disabled' : (add_tools_exposed_vars.length==1) || add_tool_dis_table_clicked }" ng-disabled="add_tools_exposed_vars.length==1" ng-click="add_tools_remove_exposed_var($index)">-</button>
              </div>
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">References</label>
           	<div class="col-sm-10">
           	  <div id="ta_tools_ref" class="category-container" ng-disabled="add_tool_dis_table_clicked">
           	    <input type="text" data-role="tagsinput" class="form-control">
           	  </div>
           	</div>
          </div>

          <div class="form-group" ng-hide="add_tool_dis_new_tool">
            <label class="col-sm-2 control-label" for="textinput">Edit Summary</label>
            <div class="col-sm-10">
               <input id="tool_summary" type="text" placeholder="Briefly describe your change" class="form-control" name="tool_summary" ng-model="tool_summary" ng-disabled="add_tool_dis_table_clicked">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="pull-right">
                <button class="btn btn-default" ng-click="add_tools_new_version_clicked()" ng-disabled="add_tool_dis_new_tool || add_tool_dis_new_version">New Version</button>
                <button class="btn btn-default" ng-click="add_tools_cancel_clicked()" >Cancel</button>
                <button class="btn btn-primary" ng-click="add_tools_save_clicked()" ng-disabled="add_tool_dis_table_clicked">Save</button>
              </div>
            </div>
          </div>



        </fieldset>
      </form>
    </div>
  </div>

  <div class="row" >
		<div class="col-md-12" id="tools_table_div" ng-show="add_tool_table_show" >
		  <div id="tools_table_toolbar">
		    <div class="form-inline" role="form">
		      <button class="btn btn-default" ng-click="tools_table_add_button_clicked()">add Tools/Data</button>
		    </div>
		  </div>

		  <table id="tools_table" data-toggle="table" data-url="/get_tools/" data-detail-view="true" data-filter-control="true" data-pagination="true" data-side-pagination="server" data-filter-show-clear="true" data-toolbar="#tools_table_toolbar" data-show-refresh="true">
        <thead>
          <tr>
            <th data-field="name" data-filter-control="input" data-width="10%">Name</th>
            <th data-field="url" data-filter-control="input" data-width="10%">Link</th>
            <!-- <th data-field="total_edits" data-filter-control="input" data-width="5%">Total Edits</th> -->
            <th data-field="description" data-filter-control="input" data-width="70%">Description</th>
          </tr>
        </thead>
      </table>

		</div>
  </div>

</div>

