<div class="row container left-align">
        <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
        <!-- -------------------------------------------------------------- ScrollSpy ------------------------------------------------------------------------ -->
        <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
        <div>
            <div class="scrollspyMenu col s12 m12 l2 hide-on-med-and-down pushpin pushpin-demo-nav"
                style="position:fixed; padding-top: 200px">
                <ul class="section table-of-contents">
                    <li><a class="lien_projet" href="#card1">Execute a workflow</a></li>
                    <!--
                    <li><a class="lien_projet" href="#card3">card3</a></li>
                    <li><a class="lien_projet" href="#card4">card4</a></li>
                    -->
                </ul>
            </div>
        </div>
        <div id="documentationContent" class="scrollspyContent col s12 m12 l10" style="position: relative; left: 40px;">
            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
            <!-- ------------------------------------------------------- Profile --------------------------------------------------------------------------------- -->
            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
            <div class="faster panel" id="documentationPanel">
                <div class="row">
                    <!-- --------------------------------------------------------------------------------------- -->
                    <!-- ------------------------------------ Profile Card ------------------------------------- -->
                    <!-- --------------------------------------------------------------------------------------- -->
                    <div class="col s12">
                        <section id="card1" class="scrollspy section_projet">
                            <div class="card">
                                <div class="card-content">
                                    <div class="row right">
                                        <a class="waves-effect waves-teal btn-flat" ng-click="documentation_cancel_clicked()">Cancel</a>
                                    </div>
                                    <blockquote><span class="card-title">Execute a Workflow</span></blockquote>
                                    <div class="row">
                                        Upon pressing the "Download" button on a workflow, you can choose to download a BASH script or a JSON representation of the workflow.
                                        <ul>
                                            <li> 
                                                <strong>BASH script:</strong> The BASH script is a directly executable file. Assuming the BASH script filename is <code>bash_7Lt2o.sh</code> and you are in a BASH shell you can type:<br>
                                                <code class="documentationCodeTag">bash script_7Lt2o.sh</code><br>
                                                This will execute the workflow.
                                            </li>
                                            <li>
                                                <strong>JSON:</strong> This method will download a file <code>workflow.json</code> that contains all the information required to execute the workflow in a local environment. In order to execute it, you need to convert this file into an executable BASH script. To do this, you need to download the file <a href="https://github.com/kantale/OpenBioC/blob/master/OpenBioC/ExecutionEnvironment/executor.py" target="_blank">executor.py</a>. This file requires <a href="https://www.python.org/downloads/" target="_blank">python 3</a> and has no other dependencies. After you have downloaded this file, you can run the command:<br> 
                                                <code class="documentationCodeTag">python executor.py -W workflow.json</code><br>
                                                This will generate the file: <code>script.sh</code> that you can execute as described above. 
                                            </li>
                                        </ul>

                                        Both methods will print some information regarding the attempted execution:<br>
                                        <code class="documentationCodeTag">Workflow Name: myworkflow   Edit: 1   Report: 7Lt2o</code><br>

                                        This information contains the name (i.e. <strong>myworkflow</strong>), edit (i.e. <strong>1</strong>) and the id of the generated <strong>Report</strong> (i.e. <strong>7Lt2o</strong>).

                                        During the execution, the script attempts to inform the server (openbio.eu) on the execution status. 
                                        To access this information simply search for the Report id (i.e. <strong>7Lt2o</strong>) on the main search. Then you can click the relevant report that appears. <br>

                                        <strong>Important:</strong> If you have downloaded these files as an unregistered user. The execution will <strong>not</strong> generate a report.<br>

                                        <div class="row col s12">
                                            <div class="card-panel red lighten-1" style="padding:10px">
                                                <h5><strong>SECURITY WARNING: Always execute the downloaded scripts in a sandboxed environment! There is absolutely no guarantee regarding the security and safety of these scripts. Openbio.eu does not take any responsibility on damages caused by the execution of scripts provided by the platform.</strong><h5>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>


                    <!-- --------------------------------------------------------------------------------------- -->
                    <!-- ------------------------------------- Temp Card --------------------------------------- -->
                    <!-- --------------------------------------------------------------------------------------- -->
                    <!-- <div class="col s12" ng-show="false">
                        <section id="inboxCard" class="scrollspy section_projet">
                            <div class="card">
                                <div class="card-content">
                                    <blockquote><span class="card-title">Indox</span></blockquote>
                                    <div class="row">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud
                                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem
                                        ipsum
                                        dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                        exercitation
                                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit
                                        amet,
                                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                        dolore
                                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                        nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </div>
                                <div class="card-action right-align">
                                    <button class="btn waves-effect waves-light" type="submit" name="action">Update</button>
                                </div>
                            </div>
                        </section>
                    </div> -->
                    <!-- --------------------------------------------------------------------------------------- -->
                    <!-- -------------------------------- Notifications Card ----------------------------------- -->
                    <!-- --------------------------------------------------------------------------------------- -->
                    <!-- <div class="col s12" ng-show="false">
                        <section id="notificationsCard" class="scrollspy section_projet">
                            <div class="card">
                                <div class="card-content">
                                    <blockquote><span class="card-title">Notifications</span></blockquote>
                                    <div class="row">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud
                                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem
                                        ipsum
                                        dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                        exercitation
                                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit
                                        amet,
                                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                        dolore
                                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                        nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </div>
                                <div class="card-action right-align">
                                    <button class="btn waves-effect waves-light" type="submit" name="action">Update</button>
                                </div>
                            </div>
                        </section>
                    </div> -->
                    <!-- --------------------------------------------------------------------------------------- -->
                    <!-- ------------------------------------ Settings Card ------------------------------------ -->
                    <!-- --------------------------------------------------------------------------------------- -->
                    <!-- <div class="col s12" ng-show="false">
                        <section id="settingsCard" class="scrollspy section_projet">
                            <div class="card">
                                <div class="card-content">
                                    <blockquote><span class="card-title">Settings</span></blockquote>
                                    <div class="row">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud
                                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem
                                        ipsum
                                        dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                        exercitation
                                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit
                                        amet,
                                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                        dolore
                                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                        nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </div>
                                <div class="card-action right-align">
                                    <button class="btn waves-effect waves-light" type="submit" name="action">Update</button>
                                </div>
                            </div>
                        </section>
                    </div> -->
                </div>
            </div>
            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
            <!-- -------------------------------------------------------- Temp ----------------------------------------------------------------------------------- -->
            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
            <!-- what is this for? -->
            <!-- <div class="container faster" ng-show="false"> 
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <blockquote><span class="card-title">Settings</span></blockquote>
                            <div class="row">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud
                            </div>
                        </div>
                        <div class="card-action right-align">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Update</button>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>