<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript"> 
		window.CSRF_TOKEN = "{{ csrf_token }}"; 
		window.username = "{{ username }}";
		window.general_alert_message = {% autoescape off %}"{{ general_alert_message }}"{% endautoescape %};
		window.general_success_message = {% autoescape off %}"{{ general_success_message }}"{% endautoescape %}; 
		window.password_reset_token = "{{ password_reset_token }}";
	</script>
	<script defer src="/static/app/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" href="/static/app/css/bootstrap.min.css" type="text/css"/>
	<script defer src="/static/app/js/bootstrap.min.js"></script>
	<script src="/static/app/angular.min.js"></script>
	<link rel="stylesheet" href="/static/app/OBC.css" type="text/css"/>
	<script src="/static/app/ace-builds-1.4.1/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

<div ng-app="OBC_app" ng-controller="OBC_ctrl" ng-init="init()">
{% include "app/navbar.html" %}
{# include "app/navbar_default.html" #}

<div class="container py-5" ng-show="show_login">
{% include "app/login.html" %}
</div>

<div class="container py-5" ng-show="show_signup">
{% include "app/signup.html" %}
</div>

<div class="container py-5" ng-show="general_success_message">
{% include "app/general_success_message.html" %}
</div>

<div class="container py-5" ng-show="general_alert_message">
{% include "app/general_alert_message.html" %}
</div>

<div class="container py-5" ng-show="show_reset_password_email">
{% include "app/reset_password_email.html" %}
</div>

<div class="container py-5" ng-show="show_password_reset">
{% include "app/password_reset.html" %}
</div>

<div class="container" ng-show="show_user_profile">
{% include "app/user_profile.html" %}
</div>

<div class="container" ng-show="show_tools">
{% include "app/tools.html" %}
</div>

</div> <!-- angular controler -->

<script src="/static/app/OBC_app.js"></script>
<script src="/static/app/OBC_ctrl.js"></script>
<script src="/static/app/OBC.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>

