<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript"> 
		window.CSRF_TOKEN = "{{ csrf_token }}"; 
		window.username = "{{ username }}";
		window.general_alert_message = {% autoescape off %}"{{ general_alert_message }}"{% endautoescape %};
		window.general_success_message = {% autoescape off %}"{{ general_success_message }}"{% endautoescape %}; 
		window.password_reset_token = "{{ password_reset_token }}";
	</script>

	<script src="/static/app/jquery-3.3.1.min.js"></script>
	<!--
	<script src="/static/app/jquery-2.1.1/jquery-2.1.1.min.js"></script>
	-->


	<!-- FOR DRAGGABLE
	<script src="/static/app/jquery-ui-1.12.1.custom/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" href="/static/app/jquery-ui-1.12.1.custom/jquery-ui.min.css" type="text/css"/>
	-->

	<!-- 
	<link rel="stylesheet" href="/static/app/jQuery-contextMenu-2.7.0/dist/jquery.contextMenu.min.css" type="text/css"/>
	<script src="/static/app/jQuery-contextMenu-2.7.0/dist/jquery.contextMenu.min.js" type="text/javascript" charset="utf-8"></script>
	-->

	<!-- This is version 4.0 -->
	<link rel="stylesheet" href="/static/app/css/bootstrap.min.css" type="text/css"/>
	<script defer src="/static/app/js/bootstrap.min.js"></script>

	

	<!--
	<link rel="stylesheet" href="/static/app/bootstrap-3.3.7/dist/css/bootstrap.min.css" type="text/css"/>
	<script defer src="/static/app/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
	-->

	<!-- For Glyphicons -->
	<link rel="stylesheet" href="/static/app/fontawesome/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css"/>

	<!-- This is version 1.7.2 -->
	<script src="/static/app/angular.min.js"></script>
	

	<!--
	<script src="/static/app/angular.1.3.2/angular.min.js"></script>
	-->

	<!-- 1.7.2 unminified 
	<script src="/static/app/angular.js"></script>
	-->

	<!--
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
	-->

	
	<link rel="stylesheet" href="/static/app/jstree-3.3.5/dist/themes/default/style.min.css" type="text/css"/>
	<script src="/static/app/jstree-3.3.5/dist/jstree.min.js"></script>
	

	<!--
	<link rel="stylesheet" href="/static/app/jstree-3.2.1/dist/themes/default-dark/style.min.css" type="text/css"/>
	<script src="/static/app/jstree-3.2.1/dist/jstree.min.js"></script>
	-->

	<!--
	<link rel="stylesheet" href="/static/app/jstree-3.0.8/dist/themes/default-dark/style.min.css" type="text/css"/>
	<script src="/static/app/jstree-3.0.8/dist/jstree.min.js"></script>
	-->

	<script src="/static/app/ngJsTree-0.0.10/dist/ngJsTree.min.js"></script>
	
	<!--
	<script src="/static/app/ngJsTree-0.0.10/dist/ngJsTree.js"></script>
	-->


	<!--
	<link rel="stylesheet" href="/static/app/angular-ui-tree-2.22.6/dist/angular-ui-tree.min.css">
	<script type="text/javascript" src="/static/app/angular-ui-tree-2.22.6/dist/angular-ui-tree.min.js"></script>
	-->

	<!--
	<script type="text/javascript" src="/static/app/angular-tree-control-0.2.28/angular-tree-control.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/app/angular-tree-control-0.2.28/css/tree-control.css">
	-->

	
	<link rel="stylesheet" href="/static/app/OBC.css" type="text/css"/>
	<script src="/static/app/ace-builds-1.4.1/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>


</head>
<body>

<div id="angular_div" ng-app="OBC_app" ng-controller="OBC_ctrl" ng-init="init()">
{% include "app/navbar.html" %}
{# include "app/navbar_default.html" #}

<div class="container py-5" ng-show="show_login">
{% include "app/login.html" %}
</div>

<div class="container py-5" ng-show="show_signup">
{% include "app/signup.html" %}
</div>

<div class="container py-5" ng-show="general_success_message">
{% include "app/general_success_message.html" %}
</div>

<div class="container py-5" ng-show="general_alert_message">
{% include "app/general_alert_message.html" %}
</div>

<div class="container py-5" ng-show="show_reset_password_email">
{% include "app/reset_password_email.html" %}
</div>

<div class="container py-5" ng-show="show_password_reset">
{% include "app/password_reset.html" %}
</div>

<div class="container" ng-show="show_user_profile">
{% include "app/user_profile.html" %}
</div>

<div class="container" ng-show="show_tools">
{% include "app/tools.html" %}
</div>



</div> <!-- angular controler -->

<script src="/static/app/OBC_app.js"></script>
<script src="/static/app/OBC_ctrl.js"></script>
<script src="/static/app/OBC.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>

