<!-- Modal Structure -->
<div id="warningModal" class="modal">
    <div class="modal-content">
        <h4>Warning</h4>
        <p>All changes will be lost. Are you sure you want to continue?</p>
    </div>
    <div class="modal-footer">
        <a href class="waves-effect waves-red btn-flat" ng-click="tools_search_jstree_modal_editable(false)">No</a> <!-- modal-close -->
        <a href class="waves-effect waves-green btn-flat" ng-click="tools_search_jstree_modal_editable(true)">Yes</a>
    </div>
</div>

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------- Left Panel ---------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
<div class="leftPanel">

    <!-- Modal Trigger -->
    <!-- <a class="waves-effect waves-light btn modal-trigger" href="#warningModal">Modal</a> -->

    <div style="margin: 20px;">
        <!-- --------------------------------------------------------------------------------------- -->
        <!-- ------------------------------- Search Input ------------------------------------------ -->
        <!-- --------------------------------------------------------------------------------------- -->
        <div class="row">
            <form class="col s12">
                <div class="input-field col s12">
                    <i class="material-icons prefix">search</i>
                    <input id="leftPanelSearch" type="text" class="validate">
                    <label for="leftPanelSearch">Search</label>
                </div>
            </form>
        </div>
        <ul class="collapsible expandable popout">
            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
            <!-- ------------------------------------------------ Tools / Data Left Panel ------------------------------------------------------------------------ -->
            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
            <li id="toolsData">
                <div class="collapsible-header">
                    <i class="material-icons arrow">keyboard_arrow_right</i>
                    <i class="material-icons">settings</i>
                    Tools/Data<span class="new badge" data-badge-caption="found"
                        ng-bind="tools_search_tools_number"></span>
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <!-- Form -->
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12 m4 grid-s12-m4-l4">
                                    <input id="toolsDataName" type="text" class="validate" ng-model="tools_search_name"
                                        ng-change="tools_search_input_changed()">
                                    <label for="toolsDataName">Name</label>
                                </div>
                                <div class="input-field col s12 m4 grid-s12-m4-l4">
                                    <input id="toolsDataVersion" type="text" class="validate"
                                        ng-model="tools_search_version" ng-change="tools_search_input_changed()">
                                    <label for="toolsDataVersion">Version</label>
                                </div>
                                <div class="input-field col s12 m4 grid-s12-m4-l4">
                                    <input id="toolsDataEdit" type="text" class="validate" ng-model="tools_search_edit"
                                        ng-change="tools_search_input_changed()">
                                    <label for="toolsDataEdit">Edit</label>
                                </div>
                            </div>
                        </form>
                        <!-- Tools. Create / Cancer  buttons -->
                        <!-- 
                            ng-class="{'disabled': !username}" 
                            ng-show="(!tools_search_warning) && tools_search_name && tools_search_version"
                        -->
                        <a href id="createToolDataBtn" class="waves-effect waves-light btn"
                            ng-click="tools_search_create_new_pressed()" ng-show="(!tools_info_editable) && (!tools_search_warning)">create</a>
                        <a href id="cancelToolDataBtn" class="waves-effect waves-light btn" ng-show="tools_info_editable" ng-click="tools_search_raise_edit_are_you_sure_modal('TOOLS_CANCEL_BUTTON')">cancel</a>
                    </div>
                    <div class="row col s12" ng-show="tools_search_warning">
                        <div class="card-panel orange lighten-1 center-align" style="padding:10px">
                            <span class="white-text" ng-bind="tools_search_warning"></span>
                        </div>
                    </div>
                    <!-- Tree list 
                    <div class="row">
                        <p>-----------------------------</p>
                        <p>-----------------------------</p>
                        <p>----- Tree goes here -----</p>
                        <p>-----------------------------</p>
                        <p>-----------------------------</p>
                    </div>
                     -->

                    <div class="row left-align">
                        <div class="col">
                            <div js-tree="tools_search_jstree_config" should-apply="tools_search_jstree_config_apply()"
                                ng-model="tools_search_jstree_model" tree="tools_search_jstree"
                                tree-events="select_node:tools_search_jstree_select_node"></div>
                        </div>
                    </div>

                </div>
            </li>
            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
            <!-- ---------------------------------------------------- Workflows Left Panel ----------------------------------------------------------------------- -->
            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
            <li id="workflows">
                <div class="collapsible-header">
                    <i class="material-icons arrow">keyboard_arrow_right</i>
                    <i class="material-icons">device_hub</i>
                    Workflows<span class="new badge" data-badge-caption="found" ng-bind="workflows_search_tools_number"></span>
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <!-- Form -->
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12 m6 grid-s12-m6-l6">
                                    <input id="workflowsName" type="text" class="validate" ng-model="workflows_search_name" ng-change="workflows_search_input_changed()">
                                    <label for="workflowsName">Name</label>
                                </div>
                                <div class="input-field col s12 m6 grid-s12-m6-l6">
                                    <input id="workflowsEdit" type="text" class="validate" ng-model="workflows_search_edit" ng-change="workflows_search_input_changed()">
                                    <label for="workflowsEdit">Edit</label>
                                </div>
                            </div>
                        </form>
                        <!-- Create / Cancel buttons in Workflows -->
                        <a href id="enableEditWorkflowBtn" class="waves-effect waves-light btn" ng-click="workflows_search_create_new_pressed()" ng-show="(!workflows_info_editable) && (!workflows_search_warning)">Create</a>
                        <a href id="disableEditWorkflowBtn" class="waves-effect waves-light btn" ng-show="workflows_info_editable" ng-click="tools_search_raise_edit_are_you_sure_modal('WORKFLOWS_CANCEL_BUTTON')">Cancel</a> <!-- TOOLS!!! FIXME -->
                    </div>

                    <div class="row col s12" ng-show="workflows_search_warning">
                        <div class="card-panel orange lighten-1 center-align" style="padding:10px">
                            <span class="white-text" ng-bind="workflows_search_warning"></span>
                        </div>
                    </div>


                    <!-- Tree list
                    <div class="row">
                        <p>-----------------------------</p>
                        <p>-----------------------------</p>
                        <p>----- Tree goes here -----</p>
                        <p>-----------------------------</p>
                        <p>-----------------------------</p>
                    </div>
                    -->

                    <div class="row left-align">
                        <div class="col">
                            <div js-tree="workflows_search_jstree_config" should-apply="tools_search_jstree_config_apply()"
                                ng-model="workflows_search_jstree_model" tree="tools_search_jstree"
                                tree-events="select_node:workflows_search_jstree_select_node"></div>
                        </div>
                    </div>




                </div>
            </li>
            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
            <!-- -------------------------------------------------------- References Left Panel ----------------------------------------------------------------------- -->
            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
            <li id="references">
                <div class="collapsible-header">
                    <i class="material-icons arrow">keyboard_arrow_right</i>
                    <i class="material-icons">whatshot</i>
                    References<span class="new badge" data-badge-caption="found">0</span>
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <!-- Form -->
                        <form class="col s12">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">search</i>
                                <input id="referencesSearch" type="text" class="validate">
                                <label for="referencesSearch">Search</label>
                            </div>
                        </form>
                    </div>
                    <div class="container">
                        <div class="row">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                            richardson
                            ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food
                            truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                            bird
                            on
                            it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                            keffiyeh
                            helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            Ad
                            vegan
                            excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                            denim
                            aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                            sustainable VHS.
                        </div>
                    </div>
                </div>
            </li>
            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
            <!-- -------------------------------------------------------- Users Left Panel ----------------------------------------------------------------------- -->
            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
            <li id="users">
                <div class="collapsible-header">
                    <i class="material-icons arrow">keyboard_arrow_right</i>
                    <i class="material-icons">whatshot</i>
                    Users<span class="new badge" data-badge-caption="found">0</span>
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <!-- Form -->
                        <form class="col s12">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">search</i>
                                <input id="usersSearch" type="text" class="validate">
                                <label for="usersSearch">Search</label>
                            </div>
                        </form>
                    </div>
                    <div class="container">
                        <div class="row">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                            richardson
                            ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food
                            truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                            bird
                            on
                            it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                            keffiyeh
                            helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            Ad
                            vegan
                            excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                            denim
                            aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                            sustainable VHS.
                        </div>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</div>