<!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------- Left Panel ---------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
<div class="leftPanel">

    <div style="margin: 20px;">
        <!-- --------------------------------------------------------------------------------------- -->
        <!-- ------------------------------- Search Input ------------------------------------------ -->
        <!-- --------------------------------------------------------------------------------------- -->
        <div class="row">
            <form class="col s12">
                <div class="input-field col s12">
                    <i class="material-icons prefix">search</i>
                    <input id="leftPanelSearch" type="text" class="validate">
                    <label for="leftPanelSearch">Search</label>
                </div>
            </form>
        </div>
        <ul class="collapsible expandable popout">
            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
            <!-- ------------------------------------------------ Tools / Data Left Panel ------------------------------------------------------------------------ -->
            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
            <li id="toolsData">
                <div class="collapsible-header">
                    <i class="material-icons arrow">keyboard_arrow_right</i>
                    <i class="material-icons">filter_drama</i>
                    Tools/Data<span class="new badge" data-badge-caption="found">4</span>
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <!-- Form -->
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12 m4 grid-s12-m4-l4">
                                    <input id="toolsDataName" type="text" class="validate">
                                    <label for="toolsDataName">Name</label>
                                </div>
                                <div class="input-field col s12 m4 grid-s12-m4-l4">
                                    <input id="toolsDataVersion" type="text" class="validate">
                                    <label for="toolsDataVersion">Version</label>
                                </div>
                                <div class="input-field col s12 m4 grid-s12-m4-l4">
                                    <input id="toolsDataEdit" type="text" class="validate">
                                    <label for="toolsDataEdit">Edit</label>
                                </div>
                            </div>
                        </form>
                        <!-- Test buttons -->
                        <a id="createToolDataBtn" class="waves-effect waves-light btn">create tool/data</a>
                        <a id="cancelToolDataBtn" class="waves-effect waves-light btn">cancel tool/data</a>
                    </div>
                    <!-- Tree list -->
                    <div class="row">
                        <p>-----------------------------</p>
                        <p>-----------------------------</p>
                        <p>----- Tree goes here -----</p>
                        <p>-----------------------------</p>
                        <p>-----------------------------</p>
                    </div>
                </div>
            </li>
            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
            <!-- ---------------------------------------------------- Workflows Left Panel ----------------------------------------------------------------------- -->
            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
            <li id="workflows">
                <div class="collapsible-header">
                    <i class="material-icons arrow">keyboard_arrow_right</i>
                    <i class="material-icons">place</i>
                    Workflows<span class="new badge" data-badge-caption="found">3</span>
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <!-- Form -->
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12 m4 grid-s12-m4-l4">
                                    <input id="workflowsName" type="text" class="validate">
                                    <label for="workflowsName">Name</label>
                                </div>
                                <div class="input-field col s12 m4 grid-s12-m4-l4">
                                    <input id="workflowsVersion" type="text" class="validate">
                                    <label for="workflowsVersion">Version</label>
                                </div>
                                <div class="input-field col s12 m4 grid-s12-m4-l4">
                                    <input id="workflowsEdit" type="text" class="validate">
                                    <label for="workflowsEdit">Edit</label>
                                </div>
                            </div>
                        </form>
                        <!-- Test buttons -->
                        <a id="enableEditWorkflowBtn" class="waves-effect waves-light btn">Enable Edit</a>
                        <a id="disableEditWorkflowBtn" class="waves-effect waves-light btn">Disable edit</a>
                    </div>
                    <!-- Tree list -->
                    <div class="row">
                        <p>-----------------------------</p>
                        <p>-----------------------------</p>
                        <p>----- Tree goes here -----</p>
                        <p>-----------------------------</p>
                        <p>-----------------------------</p>
                    </div>
                </div>
            </li>
            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
            <!-- -------------------------------------------------------- Users Left Panel ----------------------------------------------------------------------- -->
            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
            <li id="users">
                <div class="collapsible-header">
                    <i class="material-icons arrow">keyboard_arrow_right</i>
                    <i class="material-icons">whatshot</i>
                    Users<span class="new badge" data-badge-caption="found">0</span>
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <!-- Form -->
                        <form class="col s12">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">search</i>
                                <input id="usersSearch" type="text" class="validate">
                                <label for="usersSearch">Search</label>
                            </div>
                        </form>
                    </div>
                    <div class="container">
                        <div class="row">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                            richardson
                            ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food
                            truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                            bird
                            on
                            it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                            keffiyeh
                            helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            Ad
                            vegan
                            excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                            denim
                            aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                            sustainable VHS.
                        </div>
                    </div>
                </div>
            </li>
            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
            <!-- -------------------------------------------------------- References Left Panel ----------------------------------------------------------------------- -->
            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
            <li id="references">
                <div class="collapsible-header">
                    <i class="material-icons arrow">keyboard_arrow_right</i>
                    <i class="material-icons">whatshot</i>
                    References<span class="new badge" data-badge-caption="found">0</span>
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <!-- Form -->
                        <form class="col s12">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">search</i>
                                <input id="referencesSearch" type="text" class="validate">
                                <label for="referencesSearch">Search</label>
                            </div>
                        </form>
                    </div>
                    <div class="container">
                        <div class="row">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                            richardson
                            ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food
                            truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                            bird
                            on
                            it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                            keffiyeh
                            helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            Ad
                            vegan
                            excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                            denim
                            aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                            sustainable VHS.
                        </div>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</div>