<!-- --------------------------------------------------------------------------------------- -->
<!-- ------------------------------------- Navbar ------------------------------------------ -->
<!-- --------------------------------------------------------------------------------------- -->
<div class="navbar" id="navbar">
    <nav>
        <div class="nav-wrapper blue-grey lighten-4 ">
            <a href="#!" class="brand-logo left black-text">OpenBio</a>
            <a id="navMenuBtn" href="#" data-target="mobile-nav" class="sidenav-trigger right black-text"><i class="material-icons">menu</i></a>
            <!-- Navbar Content -->
            <ul id="main-nav" class="right hide-on-med-and-down">
                <li><a class="black-text" href="#">Home</a></li>
                <li ng-show="!username"><a id="signInBtn" href="#signModal" class="modal-trigger black-text">Sign in</a></li>
                <li ng-show="username">
                    <a class="dropdown-trigger valign-wrapper black-text" href="#" data-target="profile">
                        <img class="circle responsive-img imgAvatar" alt="Avatar">
                        <span ng-bind="username"></span><i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
            </ul>
            <!-- Profile dropdown content -->
            <ul id="profile" class="dropdown-content">
                <li><a href="#!"><i class="material-icons">person</i>Profile</a></li>
                <li><a href="#!"><i class="material-icons">mail_outline</i>Inbox</a></li>
                <li><a href="#!"><i class="material-icons">notifications</i>Notifications</a></li>
                <li><a href="#!"><i class="material-icons">settings</i>Settings</a></li>
                <li class="divider"></li>
                <li><a href="logout/"><i class="material-icons">exit_to_app</i>Logout</a></li>
            </ul>
            <!-- Sidenav Content -->
            <ul class="sidenav" id="mobile-nav">
                <li><a href="#">Home</a></li>
                <li><a id="signInBtn" href="#signModal" class="modal-trigger">Sign in</a></li>
                <li class="divider"></li>
                <li><a href="#!">Profile</a></li>
                <li><a href="#!">Inbox</a></li>
                <li><a href="#!">Notifications</a></li>
                <li><a href="#!">Settings</a></li>
                <li><a href="logout/">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>


<!-- Sign Modal Structure -->
<div id="signModal" class="modal">
    <div class="modal-content">
        <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
        <!-- ----------------------------------------------------------- Sign In Form ------------------------------------------------------------------------ -->
        <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
        <div class="row faster" id="signInForm">
            <div class="row">
                <h4>Sign In</h4>
            </div>
            <form>
                <div class="row col s12" ng-show="login_error_message">
                    <div class="card-panel red lighten-1 center-align" style="padding:10px">
                        <span class="white-text" ng-bind="login_error_message"></span>
                    </div>
                </div>
                <div class="row col s12">
                    <div class="input-field col s12">
                        <input id="signInUsername" type="text" class="validate" ng-model="login_username">
                        <label for="signInUsername">Username</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="signInPassword" type="password" class="validate" ng-model="login_password">
                        <label for="signInPassword">Password</label>
                    </div>
                    <p>
                        <label>
                            <input type="checkbox" />
                            <span>Remember me</span>
                        </label>
                    </p>
                </div>
                <div class="row col s12">
                    <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="login_login_pressed()">Sign
                        in</button> <!-- modal-close-->
                    <p>
                        <small class="form-text text-muted">
                            <a href="#">Forgot Password?</a>
                        </small>
                    </p>
                    <p class="center-align">New user? <a href="#" id="modalSignUpBtn">Sign up</a></p>
                </div>
            </form>
        </div>
        <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
        <!-- ----------------------------------------------------------- Sign Up Form ------------------------------------------------------------------------ -->
        <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
        <div class="row faster" id="signUpForm" style="display: none;">
            <div class="row">
                <h4>Sign Up</h4>
            </div>
            <form>
                <div class="row">
                    <div class="input-field col s12 m6 grid-s12-m6-l6">
                        <input id="signUpUsername" type="text" class="validate">
                        <label for="signUpUsername">Username</label>
                    </div>
                    <div class="input-field col s12 m6 grid-s12-m6-l6">
                        <input id="signUpEmail" type="email" class="validate">
                        <label for="signUpEmail">Email</label>
                    </div>
                    <div class="input-field col s12 m6 grid-s12-m6-l6">
                        <input id="signUpPassword" type="password" class="validate">
                        <label for="signUpPassword">Password</label>
                    </div>
                    <div class="input-field col s12 m6 grid-s12-m6-l6">
                        <input id="signUpConfirmPassword" type="password" class="validate">
                        <label for="signUpConfirmPassword">Confirm Password</label>
                    </div>
                </div>
                <div class="row col s12">
                    <button class="btn modal-close waves-effect waves-light" type="submit" name="action">Sign up</button>
                    <p>
                        <small class="form-text text-muted">
                            By clicking Sign Up, you agree to our <a href="#">Terms</a>
                            and that you
                            have read our <a href="#">Data Use Policy</a>, including our <a href="#">Cookie Use</a>
                        </small>
                    </p>
                    <p class="center-align">Already a member? <a href="#" id="modalSignInBtn">Sign in</a></p>
                </div>
            </form>
        </div>
    </div>
</div>