<div class="row" ng-show="reset_password_email_error_message">
	<div class="col-md-6 offset-md-3">
		<div class="alert alert-danger">
  			<span ng-bind="reset_password_email_error_message"></span>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 offset-md-3">
		<div class="card card-outline-secondary">
			<div class="card-header">
			    <h3 class="mb-0">Reset Password</h3>
			</div>
			<div class="card-body">
			    <form class="form" role="form" autocomplete="off" novalidate="">
			        <div class="form-group">
			            <label>Email</label>
			            <input type="text" class="form-control" ng-model="reset_password_email" required="">
			            <div class="invalid-feedback">Enter your email</div>
			        </div>
			        <div class="form-group small">
			                Enter your email and press Send. An email with instructions to reset your password will be sent.
			        </div>

			        <button class="btn btn-success btn-lg float-right" ng-click="login_password_reset_email_send_pressed()">Send</button>
			    </form>
			</div>
			<!--/card-body-->
		</div>
		<!-- /form card login -->
	</div>
</div>