<!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------------- Right Panel ---------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
<div class="rightPanel">
    <div style="margin: 20px;">
        <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
        <!-- ---------------------------------------------- Create Tool / Data Right Panel ------------------------------------------------------------------- -->
        <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
        <div class="faster" id="createToolDataDiv" style="display: none;">
            <div class="left-align" style="margin-left: 10px; margin-right: 15px;">
                <p>
                    <h5>
                        <span ng-bind="tools_info_name"></span>/<span ng-bind="tools_info_version"></span><span ng-show="!tools_info_editable">/<span ng-bind="tools_info_edit"></span></span>
                    </h5>
                    <small class="form-text text-muted">
                        <span ng-bind="tool_info_username"></span>
                        <span ng-show="!tools_info_editable">, created at <span ng-bind="tool_info_created_at"></span></span>
                        <span ng-show="tools_info_forked_from">, forked from <a href ng-click="tools_search_show_item(tools_info_forked_from)"><span ng-bind="tools_info_forked_from | tool_label"></span></a></span>
                    </small>
                </p>
                <!-- Buttons -->
                <div class="row right-align">
                    <a class="waves-effect waves-light btn tooltipped" style="margin-bottom:2px" data-position="bottom"
                        data-tooltip="Expand All"><i class="material-icons">expand_more</i></a>
                    <a class="waves-effect waves-light btn tooltipped" style="margin-bottom:2px" data-position="bottom"
                        data-tooltip="Collapse All"><i class="material-icons">expand_less</i></a>
                    <a class="waves-effect waves-light btn tooltipped" style="margin-bottom:2px" data-position="bottom"
                        data-tooltip="Save" ng-click="tool_create_save_pressed()" ng-show="tools_info_editable"><i class="material-icons">save</i></a>
                    <a class="waves-effect waves-light btn tooltipped" style="margin-bottom:2px" data-position="bottom"
                        data-tooltip="Fork" ng-click="tool_info_fork_pressed()" ng-show="!tools_info_editable" ng-class="{'disabled': !username}"><i class="material-icons">device_hub</i></a>
                </div>
            </div>

            <ul id="createToolDataAccordion" class="collapsible expandable popout faster">
                <!-- --------------------------------------------------------------------------------------- -->
                <!-- ------------------------------------ General ------------------------------------------ -->
                <!-- --------------------------------------------------------------------------------------- -->
                <li id="toolsDataGeneral">
                    <div class="collapsible-header">
                        <i class="material-icons arrow">keyboard_arrow_right</i>
                        <i class="material-icons">info</i>
                        General
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            <form class="col s12">
                                <div class="input-field">
                                    <input id="generalWebsite" type="text" class="validate" ng-model="tool_website" ng-disabled="!tools_info_editable">
                                    <label for="generalWebsite">Website</label>
                                </div>
                                <div class="input-field">
                                    <textarea id="generalDescription" class="validate materialize-textarea" ng-model="tool_description" ng-disabled="!tools_info_editable"></textarea>
                                    <label for="generalDescription">Description</label>
                                </div>
                                <div class="input-field chips left-align"></div>
                            </form>
                        </div>
                    </div>
                </li>

                <!-- --------------------------------------------------------------------------------------- -->
                <!-- -------------------------------- Dependencies ----------------------------------------- -->
                <!-- --------------------------------------------------------------------------------------- -->
                <li id="toolsDataDependencies">
                    <div class="collapsible-header">
                        <i class="material-icons arrow">keyboard_arrow_right</i>
                        <i class="material-icons">format_list_bulleted</i>
                        Dependencies
                    </div>
                    <div class="collapsible-body">


                        <div class="row" ng-show="tools_info_editable">
                            
                                <strong>Drop here a tool from the search tree, to add it as a dependency. Right click to delete it.</strong>
                        
                        </div>
                        <div class="row">
                            
                                <div id="tools_dep_jstree_id" js-tree="tools_dep_jstree_config" should-apply="tools_search_jstree_config_apply()" ng-model="tools_dep_jstree_model" tree="tools_dep_jstree"></div>
                     
                        </div>



                    </div>
                </li>
                <!-- --------------------------------------------------------------------------------------- -->
                <!-- -------------------------------- Installation ----------------------------------------- -->
                <!-- --------------------------------------------------------------------------------------- -->
                <li id="toolsDataInstallation">
                    <div class="collapsible-header">
                        <i class="material-icons arrow">keyboard_arrow_right</i>
                        <i class="material-icons">computer</i>
                        Installation
                        <span class="badge"><i class="material-icons md-red">error_outline</i></span>
                    </div>
                    <div class="collapsible-body">
                        <!-- Hide Variables -->
                        <div class="row">
                            <p>Hide variables from depended tools (Dropdown???)</p>
                            <div id="tools_var_jstree_id" js-tree="tools_var_jstree_config" should-apply="tools_search_jstree_config_apply()" ng-model="tools_var_jstree_model" tree="tools_var_jstree" ng-show="tools_var_jstree_id_show"></div>
                        </div>
                        <!-- Installation -->
                        <div class="row">
                            <h5>Installation Commands</h5>
                            <div id="tool_installation_editor"></div> 
                        </div>
                        <!-- Validation -->
                        <div class="row">
                            <h5>Validation Commands</h5>
                            <div id="tool_validation_editor"></div>
                        </div>
                        <!-- Variables -->
                        <div class="row">
                            <h5>Variables</h5>
                            <div class="col s12">
                                <table class="centered highlight">
                                    <thead>
                                        <tr>
                                            <th>Name1</th>
                                            <th>Name2</th>
                                            <th>Name3</th>
                                            <th>
                                                <a class="waves-effect waves-light btn-small tooltipped green darken-1" style="padding-left: 7px; padding-right:7px" data-position="bottom"
                                                data-tooltip="Add new variable"><i class="material-icons">add</i></a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="text" placeholder="name1"></td>
                                            <td><input type="text" placeholder="name2"></td>
                                            <td><input type="text" placeholder="name3"></td>
                                            <td>
                                                <a class="waves-effect waves-light btn-small tooltipped red darken-1" style="padding-left: 7px; padding-right:7px" data-position="bottom"
                                                data-tooltip="Remove variable"><i class="material-icons">remove</i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input type="text" placeholder="name1"></td>
                                            <td><input type="text" placeholder="name2"></td>
                                            <td><input type="text" placeholder="name3"></td>
                                            <td>
                                                <a class="waves-effect waves-light btn-small tooltipped red darken-1" style="padding-left: 7px; padding-right:7px" data-position="bottom"
                                                data-tooltip="Remove variable"><i class="material-icons">remove</i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
        <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
        <!-- --------------------------------------------------- Edit Workflow Right Panel ------------------------------------------------------------------- -->
        <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
        <div id="workflowsRightPanel" class="faster" style="display: none;">
            <!-- --------------------------------------------------------------------------------------- -->
            <!-- ------------------------------------ Graph -------------------------------------------- -->
            <!-- --------------------------------------------------------------------------------------- -->
            <div class="row">
                <svg></svg>
            </div>
            <hr>
            <!-- --------------------------------------------------------------------------------------- -->
            <!-- ------------------------------- Edit Workflow ----------------------------------------- -->
            <!-- --------------------------------------------------------------------------------------- -->
            <ul id="editWorkflowAccordion" class="collapsible expandable faster" style="margin-top:0px;">
                <li class="disabled">
                    <div class="collapsible-header">
                        <i class="material-icons arrow">keyboard_arrow_right</i>
                        <i class="material-icons">place</i>
                        Edit (name)
                    </div>
                    <div class="collapsible-body">
                        <p>(bash commands)</p>
                        <div class="row">
                            <form class="col s12">
                                <div class="input-field col s12">
                                    <input id="editWorkflowName" type="text" class="validate">
                                    <label for="editWorkflowName">Name</label>
                                </div>
                                <div class="input-field col s12">
                                    <textarea id="editWorkflowDescription" class="validate materialize-textarea"></textarea>
                                    <label for="editWorkflowDescription">Description</label>
                                </div>
                                <div class="row col s12">
                                    <div class="col s3 offset-s9">
                                        <a class="waves-effect waves-light btn" style="margin:2px">cancel</a>
                                        <a class="waves-effect waves-light btn" style="margin:2px">save</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>