<!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------------- Right Panel ---------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
<div class="rightPanel">
    <div style="margin: 20px;">
        <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
        <!-- ---------------------------------------------- Create Tool / Data Right Panel ------------------------------------------------------------------- -->
        <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
        <div class="faster" id="createToolDataDiv" style="display: none;">
            <div class="left-align" style="margin-left: 10px; margin-right: 15px;">
                <p>
                    <h5>
                        <span ng-bind="tools_info_name"></span>/<span ng-bind="tools_info_version"></span><span
                            ng-show="!tools_info_editable">/<span ng-bind="tools_info_edit"></span></span>
                    </h5>
                    <small class="form-text text-muted">
                        <span ng-bind="tool_info_username"></span>
                        <span ng-show="!tools_info_editable">, created at <span
                                ng-bind="tool_info_created_at"></span></span>
                        <span ng-show="tools_info_forked_from">, forked from <a href
                                ng-click="tools_search_show_item(tools_info_forked_from)"><span
                                    ng-bind="tools_info_forked_from | tool_label"></span></a></span>
                        <span>USED IN 86 WFs</span>
                    </small>
                </p>
                <!-- Buttons -->
                <div class="row right-align">
                    <a id="expandAllBtn1" class="waves-effect waves-light btn tooltipped" style="margin-bottom:2px"
                        data-position="bottom" data-tooltip="Expand All"><i class="material-icons">unfold_more</i></a>
                    <a id="collapseAllBtn1" class="waves-effect waves-light btn tooltipped" style="margin-bottom:2px"
                        data-position="bottom" data-tooltip="Collapse All"><i class="material-icons">unfold_less</i></a>
                    <a class="waves-effect waves-light btn tooltipped" style="margin-bottom:2px" data-position="bottom"
                        data-tooltip="Save" ng-click="tool_create_save_pressed()" ng-show="tools_info_editable"><i
                            class="material-icons">save</i></a>
                    <a class="waves-effect waves-light btn tooltipped" style="margin-bottom:2px" data-position="bottom"
                        data-tooltip="Fork" ng-click="tool_info_fork_pressed()" ng-show="!tools_info_editable"
                        ng-class="{'disabled': !username}"><i class="material-icons">call_split</i></a>
                </div>
            </div>

            <ul id="createToolDataAccordion" class="collapsible expandable popout faster">
                <!-- --------------------------------------------------------------------------------------- -->
                <!-- ------------------------------------ General ------------------------------------------ -->
                <!-- --------------------------------------------------------------------------------------- -->
                <li id="toolsDataGeneral">
                    <div class="collapsible-header">
                        <i class="material-icons arrow">keyboard_arrow_right</i>
                        <i class="material-icons">info</i>
                        General
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            <form class="col s12">
                                <div class="input-field">
                                    <input id="generalWebsite" type="text" class="validate" ng-model="tool_website"
                                        ng-disabled="!tools_info_editable">
                                    <label for="generalWebsite">Website</label>
                                </div>
                                <div class="input-field">
                                    <textarea id="generalDescription" class="validate materialize-textarea"
                                        ng-model="tool_description" ng-disabled="!tools_info_editable"></textarea>
                                    <label for="generalDescription">Description</label>
                                </div>
                                <div class="input-field" ng-show="tools_info_forked_from">
                                    <textarea id="generalEditSummary" class="validate materialize-textarea"
                                        ng-model="tool_changes" ng-disabled="!tools_info_editable"></textarea>
                                    <label for="generalEditSummary">Edit Summary</label>
                                </div>
                                <div id="generalChips" class="input-field chips left-align"></div>
                            </form>
                        </div>
                    </div>
                </li>

                <!-- --------------------------------------------------------------------------------------- -->
                <!-- -------------------------------- Dependencies ----------------------------------------- -->
                <!-- --------------------------------------------------------------------------------------- -->
                <li id="toolsDataDependencies">
                    <div class="collapsible-header">
                        <i class="material-icons arrow">keyboard_arrow_right</i>
                        <i class="material-icons">format_list_bulleted</i>
                        Dependencies
                    </div>
                    <div class="collapsible-body">


                        <div class="row" ng-show="tools_info_editable">

                            <strong>Drop here a tool from the search tree, to add it as a dependency. Right click to
                                delete it.</strong>

                        </div>
                        <div class="row" ng-show="!tools_info_editable">

                            <strong>Tool Dependency Tree</strong>

                        </div>

                        <div class="row left-align">

                            <div id="tools_dep_jstree_id" js-tree="tools_dep_jstree_config"
                                should-apply="tools_search_jstree_config_apply()" ng-model="tools_dep_jstree_model"
                                tree="tools_dep_jstree"></div>

                        </div>



                    </div>
                </li>
                <!-- --------------------------------------------------------------------------------------- -->
                <!-- -------------------------------- Installation ----------------------------------------- -->
                <!-- --------------------------------------------------------------------------------------- -->
                <li id="toolsDataInstallation">
                    <div class="collapsible-header" style="height:55px">
                        <i class="material-icons arrow">keyboard_arrow_right</i>
                        <i class="material-icons">computer</i>
                        Installation
                        <a ng-show="!tools_info_editable" ng-click="tool_info_validate_pressed()" id="installationRefreshBtn" class="waves-effect btn-flat btnCollapsible"><i
                                class="material-icons" style="margin:0px;">refresh</i></a>
                        <span ng-show="tool_info_validation_status=='Unvalidated'" class="new badge" style="margin-left: 5px;" data-badge-caption="Unvalidated"></span>
                        <span ng-show="tool_info_validation_status=='Queued'" class="new badge grey" style="margin-left: 5px;" data-badge-caption="Queued"></span>
                        <span ng-show="tool_info_validation_status=='Failed'" class="new badge red" style="margin-left: 5px;" data-badge-caption="Failed"></span>
                        <span ng-show="tool_info_validation_status=='Validated'" class="new badge green" style="margin-left: 5px;" data-badge-caption="Validated"></span>
                        <small ng-show="tool_info_validation_created_at" class="text-muted" style="padding-top: 3px">
                                <span ng-bind="tool_info_validation_created_at"></span>
                        </small>
                    </div>
                    <div class="collapsible-body">
                        <!-- Hide Variables -->
                        <div class="row">
                            <strong><a href ng-click="tools_var_jstree_id_show_clicked()"><span
                                        ng-show="tools_var_jstree_id_show">Hide</span><span
                                        ng-show="!tools_var_jstree_id_show">Show</span> variables from dependent
                                    tools</a></strong>
                            <div class="left-align" id="tools_var_jstree_id" js-tree="tools_var_jstree_config"
                                should-apply="tools_search_jstree_config_apply()" ng-model="tools_var_jstree_model"
                                tree="tools_var_jstree" ng-show="tools_var_jstree_id_show"></div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <select id='tools_os_combo'>
                                    <optgroup label="Ubuntu">
                                        <!-- adding values to use it for dockerfile-->
                                        <option value="ubuntu:14.04">Ubuntu:14.04</option>
                                        <option value="ubuntu:16.04">Ubuntu:16.04</option>
                                    </optgroup>
                                    <optgroup label="Debian">
                                        <option value="jessie">Debian 8 (Jessie)</option>
                                        <option value="stretch">Debian 9 (Stretch)</option>
                                        <option value="buster">Debian 10 (Buster)</option>
                                    </optgroup>
                                </select>
                                <label>Select Operating System</label>
                            </div>
                        </div>
                        <!-- Installation -->
                        <div class="row">
                            <h5>Installation Commands</h5>
                            <div id="tool_installation_editor"></div>
                        </div>
                        <!-- Validation -->
                        <div class="row">
                            <h5>Validation Commands</h5>
                            <div id="tool_validation_editor"></div>
                        </div>
                        <!-- Variables -->
                        <div class="row">
                            <h5>Variables</h5>
                            <div class="col s12">
                                <table class="centered highlight">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Value</th>
                                            <th>Description</th>
                                            <!--
                                            <th>
                                                <a class="waves-effect waves-light btn-small tooltipped green darken-1" style="padding-left: 7px; padding-right:7px" data-position="bottom"
                                                data-tooltip="Add new variable"><i class="material-icons">add</i></a>
                                            </th>
                                            -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="x in tool_variables">
                                            <td><input type="text" placeholder="name" ng-model="x.name"
                                                    ng-disabled="!tools_info_editable"></td>
                                            <td><input type="text" placeholder="value" ng-model="x.value"
                                                    ng-disabled="!tools_info_editable"></td>
                                            <td><input type="text" placeholder="description" ng-model="x.description"
                                                    ng-disabled="!tools_info_editable"></td>
                                            <td>
                                                <a class="waves-effect waves-light btn-small tooltipped green darken-1"
                                                    style="padding-left: 7px; padding-right:7px" data-position="bottom"
                                                    data-tooltip="Add new variable" ng-click="tools_info_add_variable()"
                                                    ng-if="$last && x.name && x.value && x.description && tools_info_editable"><i
                                                        class="material-icons">add</i></a>
                                            </td>
                                            <td>
                                                <a class="waves-effect waves-light btn-small tooltipped red darken-1"
                                                    style="padding-left: 7px; padding-right:7px" data-position="bottom"
                                                    data-tooltip="Remove variable"
                                                    ng-click="tools_info_remove_variable($index)"
                                                    ng-if="(!$first) && tools_info_editable"><i
                                                        class="material-icons">remove</i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row col s12" ng-show="!tools_info_editable">
                            <button class="btn waves-effect waves-light"
                                ng-click="tool_info_validate_pressed()">Validate</button>
                        </div>
                        <div class="row col s12 left-align">
                            <code>
                                <pre ng-bind="tool_info_validation_message"></pre>
                            </code>
                        </div>
                    </div>
                </li>
                <li id="toolsDataStatistics">
                    <div class="collapsible-header">
                        <i class="material-icons arrow">keyboard_arrow_right</i>
                        <i class="material-icons">poll</i>
                        Statistics
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                            richardson
                            ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food
                            truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                            bird
                            on
                            it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                            keffiyeh
                            helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            Ad
                            vegan
                            excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                            denim
                            aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                            sustainable VHS.
                            <table class="highlight centered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Item Name</th>
                                        <th>Item Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Alvin</td>
                                        <td>Eclair</td>
                                        <td>$0.87</td>
                                    </tr>
                                    <tr>
                                        <td>Alan</td>
                                        <td>Jellybean</td>
                                        <td>$3.76</td>
                                    </tr>
                                    <tr>
                                        <td>Jonathan</td>
                                        <td>Lollipop</td>
                                        <td>$7.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
        <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
        <!-- --------------------------------------------------- Edit Workflow Right Panel ------------------------------------------------------------------- -->
        <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
        <div id="workflowsRightPanel" class="faster" style="display: none;">
            <div class="left-align" style="margin-left: 10px; margin-right: 15px;">
                <p>
                    <h5>
                        <span ng-bind="workflow_info_name"></span><span ng-show="!workflows_info_editable">/<span
                                ng-bind="workflow_info_edit"></span></span>
                    </h5>
                    <small class="form-text text-muted">
                        <span ng-bind="workflows_info_username"></span>
                        <span ng-show="!workflows_info_editable">, created at <span
                                ng-bind="workflow_info_created_at"></span></span>
                        <span ng-show="workflow_info_forked_from">, forked from <a href
                                ng-click="workflows_search_show_item(workflow_info_forked_from)"><span
                                    ng-bind="workflow_info_forked_from | workflow_label"></span></a></span>
                    </small>
                </p>
                <!-- Buttons -->
                <div class="row right-align">
                    <a class="waves-effect waves-light btn tooltipped" style="margin-bottom:2px" data-position="bottom"
                        data-tooltip="Run" ng-click="workflow_info_run_pressed()">Run</a>
                    <a class="waves-effect waves-light btn tooltipped" style="margin-bottom:2px" data-position="bottom"
                        data-tooltip="Fit" ng-click="workflow_info_fit_pressed()">Fit</a>
                    <a class="waves-effect waves-light btn tooltipped" style="margin-bottom:2px" data-position="bottom"
                        data-tooltip="Clear" ng-click="workflow_info_clear_pressed()"
                        ng-disabled="!workflows_info_editable">Clear</a>
                    <a class="waves-effect waves-light btn tooltipped" style="margin-bottom:2px" data-position="bottom"
                        data-tooltip="Add Step" ng-click="workflow_info_add_step_clicked()">Add Step</a>
                    <a id="expandAllBtn2" class="waves-effect waves-light btn tooltipped" style="margin-bottom:2px"
                        data-position="bottom" data-tooltip="Expand All"><i class="material-icons">unfold_more</i></a>
                    <a id="collapseAllBtn2" class="waves-effect waves-light btn tooltipped" style="margin-bottom:2px"
                        data-position="bottom" data-tooltip="Collapse All"><i class="material-icons">unfold_less</i></a>
                    <a class="waves-effect waves-light btn tooltipped" style="margin-bottom:2px" data-position="bottom"
                        data-tooltip="Save" ng-click="workflows_create_save_pressed()"
                        ng-show="workflows_info_editable"><i class="material-icons">save</i></a>
                    <a class="waves-effect waves-light btn tooltipped" style="margin-bottom:2px" data-position="bottom"
                        data-tooltip="Fork" ng-click="workflows_info_fork_pressed()" ng-show="!workflows_info_editable"
                        ng-class="{'disabled': !username}"><i class="material-icons">call_split</i></a>
                </div>
            </div>



            <ul class="collapsible expandable faster" style="margin-top:0px;">
                <li id="workflowRightPanelGeneral">
                    <div class="collapsible-header">
                        <i class="material-icons arrow">keyboard_arrow_right</i>
                        <i class="material-icons">info</i>
                        General
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            <form class="col s12">
                                <div class="input-field">
                                    <input id="workflowsGeneralWebsite" type="text" class="validate"
                                        ng-model="workflow_website" ng-disabled="!workflows_info_editable">
                                    <label for="workflowsGeneralWebsite">Website</label>
                                </div>
                                <div class="input-field">
                                    <textarea id="workflowsGeneralDescription" class="validate materialize-textarea"
                                        ng-model="workflow_description"
                                        ng-disabled="!workflows_info_editable"></textarea>
                                    <label for="workflowsGeneralDescription">Description</label>
                                </div>
                                <div class="input-field" ng-show="workflow_info_forked_from">
                                    <textarea id="workflowsGeneralEditSummary" class="validate materialize-textarea"
                                        ng-model="workflow_changes" ng-disabled="!workflows_info_editable"></textarea>
                                    <label for="workflowsGeneralEditSummary">Edit Summary</label>
                                </div>
                                <div class="input-field chips left-align"></div>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- --------------------------------------------------------------------------------------- -->
            <!-- ------------------------------------ Graph -------------------------------------------- -->
            <!-- --------------------------------------------------------------------------------------- -->
            <!--
            <div class="row">
                <div id="d3wf"></div>
            </div>
            -->
            <div class="row">
                <div id="cywf"></div>
            </div>

            <hr>
            <!-- --------------------------------------------------------------------------------------- -->
            <!-- ------------------------------- Edit Workflow ----------------------------------------- -->
            <!-- --------------------------------------------------------------------------------------- -->
            <ul id="editWorkflowAccordion" class="collapsible expandable faster" style="margin-top:0px;">
                <li id="workflowRightPanelStep">
                    <!-- class="disabled" -->
                    <div class="collapsible-header">
                        <i class="material-icons arrow">keyboard_arrow_right</i>
                        <i class="material-icons">linear_scale</i>
                        Step
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            <form class="col s12">
                                <div class="col s12" ng-show="workflow_step_error_message">
                                    <div class="card-panel orange lighten-1 center-align" style="padding:10px">
                                        <span class="white-text" ng-bind="workflow_step_error_message"></span>
                                    </div>
                                </div>
                                <div class="input-field col s12">
                                    <input id="editWorkflowName" type="text" class="validate"
                                        ng-model="workflows_step_name" ng-disabled="!workflows_info_editable">
                                    <label for="editWorkflowName">Name</label>
                                </div>
                                <div id="workflow_step_editor"></div>
                                <!-- 
                                <div class="input-field col s12">
                                    <textarea id="editWorkflowDescription"
                                        class="validate materialize-textarea" ng-model="workflows_step_description"></textarea>
                                    <label for="editWorkflowDescription">Description</label>
                                </div>
                                -->
                                <div class="row col s12">
                                    <div class="right-align">
                                        <a class="waves-effect waves-light btn" style="margin:2px">Cancel</a>
                                        <a class="waves-effect waves-light btn" style="margin:2px"
                                            ng-show="workflows_info_editable"
                                            ng-click="workflow_step_delete()">Delete</a>
                                        <a class="waves-effect waves-light btn" style="margin:2px"
                                            ng-click="workflow_step_add()" ng-show="workflows_info_editable"><span
                                                ng-bind="workflow_step_add_update_label"></span></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
                <li id="workflowRightPanelInputsOutputs">
                    <div class="collapsible-header">
                        <i class="material-icons arrow">keyboard_arrow_right</i>
                        <i class="material-icons">swap_horiz</i>
                        Inputs/Outputs
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            <h5>Variables</h5>
                            <div class="col s12">
                                <table class="centered highlight">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Input/Output</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="x in workflow_input_outputs">
                                            <td><input type="text" placeholder="Name" ng-model="x.name"
                                                    ng-disabled="!workflows_info_editable"></td>
                                            <td><input type="text" placeholder="Description" ng-model="x.description"
                                                    ng-disabled="!workflows_info_editable"></td>
                                            <td class="switch">
                                                <label>
                                                    IN
                                                    <input type="checkbox" ng-model="x.out" style="display:none"
                                                        ng-disabled="!workflows_info_editable">
                                                    <span class="lever"></span>
                                                    OUT
                                                </label>
                                            </td>
                                            <td>
                                                <a class="waves-effect waves-light btn-small tooltipped green darken-1"
                                                    style="padding-left: 7px; padding-right:7px" data-position="bottom"
                                                    data-tooltip="Add new variable"
                                                    ng-if="$last && x.name && x.description && workflows_info_editable"
                                                    ng-click="workflow_step_add_input_output()"><i
                                                        class="material-icons">add</i></a>
                                            </td>
                                            <td>
                                                <a class="waves-effect waves-light btn-small tooltipped red darken-1"
                                                    style="padding-left: 7px; padding-right:7px" data-position="bottom"
                                                    data-tooltip="Remove variable"
                                                    ng-if="(!$first) && workflows_info_editable"
                                                    ng-click="workflow_step_remove_input_output($index)"><i
                                                        class="material-icons">remove</i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="right-align">
                                <a class="waves-effect waves-light btn" style="margin:2px"
                                    ng-click="workflow_step_input_output_update_pressed()"
                                    ng-show="workflows_info_editable">Update</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="workflowStatistics">
                    <div class="collapsible-header">
                        <i class="material-icons arrow">keyboard_arrow_right</i>
                        <i class="material-icons">poll</i>
                        Statistics
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                            richardson
                            ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food
                            truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                            bird
                            on
                            it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                            keffiyeh
                            helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            Ad
                            vegan
                            excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                            denim
                            aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                            sustainable VHS.
                            <table class="highlight centered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Item Name</th>
                                        <th>Item Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Alvin</td>
                                        <td>Eclair</td>
                                        <td>$0.87</td>
                                    </tr>
                                    <tr>
                                        <td>Alan</td>
                                        <td>Jellybean</td>
                                        <td>$3.76</td>
                                    </tr>
                                    <tr>
                                        <td>Jonathan</td>
                                        <td>Lollipop</td>
                                        <td>$7.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
        <!-- ---------------------------------------------- References Right Panel ------------------------------------------------------------------- -->
        <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
        <div class="faster" id="referencesRightPanel" style="display: none;">
            <div class="left-align" style="margin-left: 10px; margin-right: 15px;">
                <p>
                    <h5>
                        <!-- <span ng-bind="tools_info_name"></span>/<span ng-bind="tools_info_version"></span><span
                            ng-show="!tools_info_editable">/<span ng-bind="tools_info_edit"></span></span> -->
                        <span>Name</span>/<span>Version</span><span>/<span>Edit</span></span>
                    </h5>
                    <small class="form-text text-muted">
                        <!-- <span ng-bind="tool_info_username"></span>
                        <span ng-show="!tools_info_editable">, created at <span
                                ng-bind="tool_info_created_at"></span></span>
                        <span ng-show="tools_info_forked_from">, forked from <a href
                                ng-click="tools_search_show_item(tools_info_forked_from)"><span
                                    ng-bind="tools_info_forked_from | tool_label"></span></a></span>
                        <span>USED IN 86 WFs</span> -->
                        <span>Username</span>
                        <span>, created at <span>Tue, 12 Feb 2019 10:23:29</span></span>
                        <span>USED IN 86 WFs</span>
                    </small>
                </p>
                <!-- Buttons -->
                <div class="row right-align">
                    <a id="expandAllBtn3" class="waves-effect waves-light btn tooltipped" style="margin-bottom:2px"
                        data-position="bottom" data-tooltip="Expand All"><i class="material-icons">unfold_more</i></a>
                    <a id="collapseAllBtn3" class="waves-effect waves-light btn tooltipped" style="margin-bottom:2px"
                        data-position="bottom" data-tooltip="Collapse All"><i class="material-icons">unfold_less</i></a>
                    <!-- <a class="waves-effect waves-light btn tooltipped" style="margin-bottom:2px" data-position="bottom"
                        data-tooltip="Save" ng-click="tool_create_save_pressed()" ng-show="tools_info_editable"><i
                            class="material-icons">save</i></a> -->
                    <a class="waves-effect waves-light btn tooltipped" style="margin-bottom:2px" data-position="bottom"
                        data-tooltip="Save"><i class="material-icons">save</i></a>
                </div>
            </div>

            <ul id="referencesRightPanelAccordion" class="collapsible expandable popout faster">
                <!-- --------------------------------------------------------------------------------------- -->
                <!-- ------------------------------------ General ------------------------------------------ -->
                <!-- --------------------------------------------------------------------------------------- -->
                <li id="referencesGeneral">
                    <div class="collapsible-header">
                        <i class="material-icons arrow">keyboard_arrow_right</i>
                        <i class="material-icons">info</i>
                        General
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            <form class="col s12">
                                <div class="input-field">
                                    <textarea id="referencesGeneralDescription"
                                        class="validate materialize-textarea"></textarea>
                                    <label for="referencesGeneralDescription">Description</label>
                                </div>
                                <div class="input-field">
                                    <input id="referencesGeneralURL" type="text" class="validate">
                                    <label for="referencesGeneralURL">URL</label>
                                </div>
                                <div class="input-field">
                                    <input id="referencesGeneralDOI" type="text" class="validate">
                                    <label for="referencesGeneralDOI">DOI</label>
                                </div>
                                <div class="input-field" style="margin-bottom: 0px;">
                                    <textarea id="referencesGeneralBIBTEX"
                                        class="validate materialize-textarea"></textarea>
                                    <label for="referencesGeneralBIBTEX">BIBTEX</label>
                                </div>
                                <div class="right-align">
                                    <a class="waves-effect waves-light btn-small">Generate</a>
                                </div>
                                <div>
                                    <h5>Formatted References</h5>
                                    <p>
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson
                                        ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food
                                        truck
                                        quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                        bird
                                        on
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
                <li id="referencesStatistics">
                    <div class="collapsible-header">
                        <i class="material-icons arrow">keyboard_arrow_right</i>
                        <i class="material-icons">poll</i>
                        Statistics
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                            richardson
                            ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food
                            truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                            bird
                            on
                            it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                            keffiyeh
                            helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            Ad
                            vegan
                            excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                            denim
                            aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                            sustainable VHS.
                            <table class="highlight centered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Item Name</th>
                                        <th>Item Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Alvin</td>
                                        <td>Eclair</td>
                                        <td>$0.87</td>
                                    </tr>
                                    <tr>
                                        <td>Alan</td>
                                        <td>Jellybean</td>
                                        <td>$3.76</td>
                                    </tr>
                                    <tr>
                                        <td>Jonathan</td>
                                        <td>Lollipop</td>
                                        <td>$7.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>