<!DOCTYPE>

<html>

  <head>
    <title>cytoscape-dagre.js demo</title>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">



    <script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>

    <!-- for testing with local version of cytoscape.js -->
    <!--<script src="../cytoscape.js/build/cytoscape.js"></script>-->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>


    <script src="https://unpkg.com/dagre@0.7.4/dist/dagre.js"></script>
    <script src="/static/cytoscape-dagre.js"></script>

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="https://unpkg.com/popper.js@1.14.7/dist/umd/popper.js"></script>
    <script src="/static/cytoscape-popper.js"></script>
    <script src="https://unpkg.com/tippy.js@4.0.1/umd/index.all.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@4.0.1/index.css" />
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@4/themes/light.css" />
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@4/themes/light-border.css"/>
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@4/themes/google.css"/>
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@4/themes/translucent.css"/>

    <link href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <style>
      body {
        font-family: helvetica;
        font-size: 14px;
      }

      #cy {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 999;
      }

      h1 {
        opacity: 0.5;
        font-size: 1em;
      }
    </style>

    <script>
      function createNodeLabel(input) {
        var label = input.replace(/<\/?[^>]+(>|$)/g, "");
        if (label.length >= 20) {
		  return label.slice(0, 20) + '...';
		}
	    return label;
      }

      window.addEventListener('DOMContentLoaded', function() {
        axios.get('/discourse/comments/{{ id }}').then(function (response) {
          var nodes = [];
          var edges = [];
          var comments = response.data.comments;
          for (i = 0 ; i < comments.length; i++) {
            if (comments[i].parent) {
              edges.push({
                data: {
                  source: comments[i].id,
                  target: comments[i].parent,
                  type: 'neutral-note'
                }
              });

              nodes.push({
                data: {
                  id: comments[i].id,
                  author: comments[i].obc_user,
                  tooltipText: comments[i].comment_html,
                  label: createNodeLabel(comments[i].comment_html),
                  date: comments[i].created_at,
                  type: 'note'
                }
              });
            }
            else {
              nodes.push({
                data: {
                  id: comments[i].id,
                  author: comments[i].obc_user,
                  tooltipText: comments[i].comment_html,
                  label: createNodeLabel(comments[i].comment_html),
                  date: comments[i].created_at,
                  type: 'issue'
                }
              });
              if (comments[i].title) {
                $('#main-title').text(comments[i].title);
              }
            }
          }

          var cy = window.cy = cytoscape({
            container: document.getElementById('cy'),
            boxSelectionEnabled: false,
            autounselectify: true,
            layout: {
              name: 'dagre',
              rankDir: 'BT'
            },
            style: [
              {
			    selector: 'node',
			    css: {
				  'content': 'data(label)',
				  'font-size': '5pt'
				}
			  },
			  {
			    selector: 'edge',
				css: {
				  'width': 3,
				  'curve-style': 'bezier',
				  'target-arrow-shape': 'triangle'
				},
			  },
			  {
			    selector: 'edge[type="neutral-note"]',
				style: {
				  'line-color': 'gray',
				  'line-style': 'dashed',
				  'target-arrow-color': 'gray',
				}
			  },
			  {
			    selector: 'node[type="issue"]',
				style: {
				  'background-color': 'blue'
				}
			  },
			  {
			    selector: 'node[type="note"]',
				style: {
				  'background-color': 'gray'
				}
			  }
            ],
            elements: {
              nodes: nodes,
              edges: edges
            }
          }); // end of cytoscape

      var tippyDiv;
		  cy.on('mouseover', 'node', function(event) {
		    var a = event.target;
			  $('#tippy-text').html(a.data().tooltipText);
			  $('#tippy-author-name').text(a.data().author);
			  $('#tippy-date').text(a.data().date);
			  //$('#tippy-date').text((new Date(a.data().date)).toLocaleString('en-GB', { timeZone: 'UTC' }));
		    var makeTippy = function(node){
			  return tippy(node.popperRef(), {
			    content: function(){
				  var div = document.getElementById('tippy-popup');
				    return div.innerHTML;
			    },
			    trigger: 'manual',
				  arrow: true,
				  placement: 'bottom',
				  hideOnClick: true,
				  multiple: true,
				  sticky: true,
			    theme: 'tomato'
			  });
			};
			tippyDiv = makeTippy(a);
		    tippyDiv.show();
	     });

		  cy.on('mouseout', 'node', function(event) {
		    tippyDiv.hide();
		  });

        }); // end of axios
      }); // end of event listener
    </script>
  </head>

  <body>
    <h1 align="center" id="main-title"></h1>

    <div id="cy"></div>

    <!-- tippy popup -->
    <div id="tippy-popup" style="display: none;">
      <span class="fa fa-user fa-2x"></span>
      <br>
      User: <b><p id="tippy-author-name"></p></b>
      Text: <p id="tippy-text"></p>
      Date: <p id="tippy-date">15/02/2019</p>
    </div>

  </body>
</html>
