<!-- <!DOCTYPE html> -->
<!-- <html> -->

<!-- <head> -->
    <!--Import Google Icon Font-->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

    <!-- Materialize CSS -->
    <!-- <link rel="stylesheet" href="css/materialize.min.css"> -->

    <!-- Chart CSS -->
    <!-- <link rel="stylesheet" href="css/Chart.min.css"> -->

    <!-- style CSS -->
    <!-- <link rel="stylesheet" href="css/style.css"> -->

    <!--Let browser know website is optimized for mobile-->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
<!-- </head> -->

<!-- <body> -->
    
    <h3>RO Metrics</h3>
    <div class="row">
        <a class="btn" style="margin-bottom:2px" ng-click="fetchRoMetrics_pressed()">Fetch RO Metrics</a>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card-panel" style="padding: 10px; background: #f7f7f7; position: relative;">
                <canvas id="roStandardLineChart" style="height: 300px;"></canvas>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card-panel" style="padding: 10px; background: #f7f7f7;">
                <canvas id="roCustomLineChart" style="height: 300px;"></canvas>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card-panel" style="padding: 10px; background: #f7f7f7;">
                <canvas id="roStackedBarChart" style="height: 300px;"></canvas>
            </div>
        </div>
    </div>






    <!-- jQuery JS -->
    <!-- <script src="js/jquery-3.3.1.min.js"></script> -->

    <!-- Materialize JS -->
    <!-- <script src="js/materialize.min.js"></script> -->

    <!-- Chart JS -->
    <!-- <script src="js/Chart.min.js"></script> -->

    <!-- main JS -->
    <!-- <script src="js/main.js"></script> -->
<!-- </body> -->

<!-- </html> -->