
#installation_ace {
    height: 275px;
    border: 1px solid #DDD;
    border-radius: 4px;
    border-bottom-right-radius: 0px;
    margin-top: 5px;
    }

#validate_installation_ace {
    height: 175px;
    border: 1px solid #DDD;
    border-radius: 4px;
    border-bottom-right-radius: 0px;
    margin-top: 5px;
    }

#log_ace {
    height: 175px;
    border: 1px solid #DDD;
    border-radius: 4px;
    border-bottom-right-radius: 0px;
    margin-top: 5px;
    }

#report_doc_ace {
    height: 175px;
    border: 1px solid #DDD;
    border-radius: 4px;
    border-bottom-right-radius: 0px;
    margin-top: 5px;
    }

#task_doc_ace {
    height: 175px;
    border: 1px solid #DDD;
    border-radius: 4px;
    border-bottom-right-radius: 0px;
    margin-top: 5px;
    }


#task_ace {
    height: 175px;
    border: 1px solid #DDD;
    border-radius: 4px;
    border-bottom-right-radius: 0px;
    margin-top: 5px;
    }


/* D3 */
.node {
  stroke: #000;
  stroke-width: 1.5px;
  cursor: move;
}

.label {
    fill: black;
    font-family: Verdana;
    font-size: 11px;
    text-anchor: middle;
    cursor: move;
}

.link {
  stroke: #000;
  stroke-width: 1px;
  stroke-opacity: 1;
}


/* End of D3 */